* {
    text-decoration: none;
}

body {
    background-color: rgb(88, 174, 245);
    display: flex;
    justify-content:center;
    align-items: center;
    height: 90vh;
}

#title-lgreen {
    position: absolute;
    background-color: hsl(120, 46%, 46%);
    border: 5px solid rgb(50, 146, 50);
    width: 300px;
    height: 35px;    
    padding: 15px;
    transform: translateX(-40%) translateY(-375%);
    z-index: 2;
}

#title-lgreen p {
    position: absolute;
    text-align: center;
    font-size: 34px;
    font-family: 'Minecraft', sans-serif;
    font-weight: bold;
    transform: translateY(-80%);
}

#title-dgreen {
    position: absolute;
    background-color: rgb(0, 61, 5);
    width: 300px;
    height: 35px;    
    padding: 15px;
    transform: translateX(-35%) translateY(-400%);
    z-index: 1;
}

#red-container {
    width: 1100px;
    height: 650px;
    background-color: rgb(219, 91, 91);
    border-radius: 60px;
    border: 5px solid rgb(218, 109, 109);
    box-shadow: 20px 20px 0px rgb(87, 0, 0); 
    transform: translateY(2.5%) translateX(10%);
    animation: spinAndScale 2s ease-in-out; 
}

#yellow-container {
    width: 1015px;
    height: 541.7px;
    border-radius: 10px;
    background-color: rgb(230, 219, 73);
    border: 5px solid rgb(241, 226, 14);
    transform: translateY(5%) translateX(4%);
}

#yellow-container p {
    position: absolute;
    font-family: 'Minecraft', sans-serif;
    font-size: 30px;
    transform: translateX(168%) translateY(-10%);
}

#slider-red {
    width: 1000px;
    height: 45px;
    background-color: rgb(146, 30, 30);
    transform: translateY(132%) translateX(5.5%);
}

#slider-dyellow {
    background-color: rgb(194, 165, 2);
    width: 100px;
    height: 45px;
}

#slider-lyellow {
    background-color: rgb(230, 219, 73);
    width: 30px;
    height: 45px;
    transform: translateX(120%);
}

.white-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    width: 950px;
    height: 485px;
    border-radius: 10px;
    background-color: white;
    transform: translateY(5.7%) translateX(3.5%);
}

#shake-button {
    background-color: rgb(130, 78, 228);
    color: white;
    font-family: 'Noto Sans Georgian', sans-serif;                            
    font-size: 30px;
    border: 5px solid rgb(130, 68, 228);
    border-radius: 5px;
    text-align: center;
    width: 120px;
    height: 60px;
    cursor: pointer;
}

@keyframes spinAndScale {
    0% { transform: scale(0) rotate(0deg) translateY(2.5%) translateX(10%); }
    100% { transform: scale(1) rotate(720deg) translateY(2.5%) translateX(10%); }
  }

.shake {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% { transform: translateX(0%) translateY(0%); }
    12.5% { transform: translateX(5%) translateY(5%); }
    25% { transform: translateX(0%) translateY(0%); }
    37.5% { transform: translateX(-5%) translateY(-5%); }
    50% { transform: translateX(0%) translateY(0%); }
    62.5% { transform: translateX(-5%) translateY(5%); }
    75% { transform: translateX(0%) translateY(0%); }
    87.5% { transform: translateX(5%) translateY(-5%); }
    100% { transform: translateX(0%) translateY(0%); }
  }